*{
    box-sizing: border-box;
}
body > * {
    padding: 4px;
    margin: 4px;
    border: 0;
  }
/* Structure of the page*/
.main-grid{
    display: grid;
    grid-template: ". centered ." auto / 1fr auto 1fr;

  }
.center-grid  {
    grid-area: centered;
    width: 900px;
}

.grid-auto__column {
  display: grid;
  grid-auto-flow: column;

  gap: 2px;
}

.content-layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
  /*Nav Bar */
.nav > *{
  margin: 2px;
  border: 2px dashed blue ;
}

.three-column-grid{
    display: grid;
    grid-template-columns: auto 1fr auto ;
}
.logo{
  display: grid;  
  width: 58px;
  height: 58px;
}
.icons{
  display: grid;
  width: auto;
  height: auto;
}
.icons > *{
  width: 40px;
  height: 40px;
  border: 2px dashed orange;
  margin: 2px;
  
  }
.search-bar{
  display: grid;
}
/* Side Right Content*/

.big-box {
  height: 160px;
}
.small-box {
  height: 40px;
}
.sidebar{
  padding: 2px;
  margin: 2px;
  border: 2px dashed lightskyblue;
}

.profile > *{
  padding: 2px;
  margin: 2px;
  border: 2px dashed red;
}

/* Middle Content*/

.content{
  padding: 2px;
  margin: 2px;
  border: 2px dashed lightskyblue ;
}

/*right sidebar*/
.right >*{
  padding: 2px;
  margin: 2px;
  border: 2px dashed lightgreen;
}
.right{
  padding: 2px;
  margin: 2px;
  border: 2px dashed rgb(0, 0, 0);

}